<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/main.css}">

<th:block layout:fragment="content">
    <div class="container">
        <nav class="global-nav">
            <a href="#" class="global-nav-item">Photos</a>
            <a href="#" class="global-nav-item">Videos</a>
            <a href="#" class="global-nav-item">Stores</a>
            <a href="#" class="global-nav-item">Contact</a>
        </nav>
        <nav class="local-nav-links">
            <a href="#" class="product-name">송이</a>
            <a href="#">소개</a>
            <a href="#">신상정보</a>
            <a href="#">후원하기</a>
        </nav>
        <seciton class="scroll-section" id="scroll-section-0">
            <h1>The Cutest Puppy</h1>
            <div class="sticky-elem main-message"><p>온전히 빠져들게 하는<br>세젤귀 양송이</p></div>
            <div class="sticky-elem main-message"><p>주변의 이목을 빼앗아가는<br>시선강탈 모드</p></div>
            <div class="sticky-elem main-message"><p>온종일 즐거운<br>아기 강아지</p></div>
            <div class="sticky-elem main-message"><p>매일을 새롭게<br>해주는 송이</p></div>
        </seciton>
        <seciton class="scroll-section" id="scroll-section-1">
            <p class="description"><strong>보통 스크롤 영역</strong>
                Estados Unidos, Reino Unido y Australia han anunciado un pacto de seguridad histórico que implica el intercambio de tecnologías de defensa avanzadas.
                El acuerdo se considera en gran medida un intento de contrarrestar la creciente influencia de China en el Indo-Pacífico.
            </p>
        </seciton>
        <seciton class="scroll-section" id="scroll-section-2">
            <p>
                <small>부들부들한 촉감</small>
                폼폼 날리는 발랄함
            </p>
            <div class="sticky-elem desc-message">
                <p>
                    같이 있기만 해도 편안한 분위기를 완성하는 송이의 존재감, 우리는 송이와 함께 행복이라는 감정을 느끼고 즐길 수 있습니다.
                </p>
                <div class="pin"></div>
            </div>
            <div class="sticky-elem desc-message">
                <p>
                    포메라니안,<br>2020.04.30
                </p>
                <div class="pin"></div>
            </div>
        </seciton>
        <seciton class="scroll-section" id="scroll-section-3">
            <p class="mid-message">
                <strong>신천을 걷는 강아지</strong><br>
                넓은 풀밭에서 즐겁게 뛰어다닐<br>
                귀엽고 사랑스러운 강아지 세상.
            </p>
            <p class="canvas-caption">
                "Se trata de invertir en nuestra mayor fuente de fuerza, nuestras alianzas, y de actualizarlas para afrontar mejor las amenazas de hoy y de mañana. Se trata de conectar a los actuales aliados y socios de Estados Unidos de nuevas maneras y de ampliar nuestra capacidad de colaboración, reconociendo que no hay ninguna división regional que separe los intereses de nuestros socios del Atlántico y del Pacífico", ha señalado Joe Biden, presidente de Estados Unidos.
            </p>
        </seciton>
        <footer class="footer">2021, 송이 1호 팬</footer>
    </div>
</th:block>>